.criminalList {
  grid-template-columns: repeat(auto-fill, minmax(150px, 250px))
}

.criminal::after {
  background: url('../assets/criminal.png') no-repeat center center / contain;
}

.criminal__name {
  font-weight: normal;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.criminal__info-group-label::after {
  content: ':';
}

.criminal__associates-button {
  align-self: flex-end;
  margin-top: auto;
  background-color: #051794;
  color: #fff;
}

.criminal__facilities-info-group {
  margin: 0.25rem 0;
  font-size: 0.9rem;
}

.criminal__facilities-list {
  list-style-type: none;
}

.facilities-legend {
  max-width: 400px;
  text-align: center;
  margin: 1rem auto;
}

.associates-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.associates__close-button {
  margin: 0.5rem 0;
  background-color: #fbc4c4;
}

.associates__header {
  text-decoration: underline;
  margin-bottom: 0.5rem;
}

.associates {
  list-style-type: none;
}

.associate {
  margin-bottom: 0.5rem;
}

.associate__name {
  font-weight: bold;
}