.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.note-form__label {
  color: #333;
  margin-bottom: 0.1rem;
}

.note-form__input {
  padding: 0.5rem;
  font-size: 1.1rem;
  border: none;
}

.note-form__textarea {
  min-height: 8rem;
}

.note-form__button {
  background-color: #05c905;
  margin-left: auto;
}

.note-form__button:hover {
  background-color: #09b109; 
}

.note-form__button[disabled] {
  background-color: #dadada;
}